* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url("images/bg-intro-desktop.png");
    background-color: #ff7a7a;
    height: 100vh;
    width: 100vw;
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hone {
    color: #ffffff;
    text-align: center;
    margin-left: 2rem;
}
.paragraph {
    color: #ffffff;
    margin: 2rem;
    margin-left: 3rem;
    vertical-align: middle;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.title {
    color: #ffffff;
    background-color: #6055a5;
    font-size: .7rem;
    width: 70%;
    text-align: center;
    height: 3rem;
    padding: 1rem;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);

}
.form {
    width: 70%;
    margin: 2rem;
    margin-top: 0;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1) ;
    background-color: #ffffff;
    height: 100%;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
}
input {
    width: 100%;
    margin-bottom: 1rem;
    height: 3rem;
    padding:1rem;
    font-weight: 500;
    border-radius: 5px ;
    border: 1px solid #c0bdbd;
}
.btn {
    border: 0;
    background-color: rgb(56, 204, 140);
    color: #ffffff;
    font-size: .8rem;
    font-weight: 200;
    box-shadow: 0 5px rgba(56, 204, 140, .5) ;
}

.footer {
    font-size: 0.6rem;
    font-weight: 600;
    color: #b2aeae;
}
.footer b {
    color: red;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    background-color: rgb(60, 230, 157);
}
@media screen and (max-width: 375px) {
    body {
        background-image: url("images/bg-intro-mobile.png");
        background-color: #ff7a7a;
        height: 100vh;
        width: 100vw;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .content {
        margin-top: 3rem;
    }
    .hone {
        font-size: .8rem;
        padding: 1rem;
        margin-right: 3rem;
    }
    .paragraph {
        margin: 2rem;
        text-align: center;
    }
    .form-container {
        align-items: center;
    }
}

/*body 16px margin rem relative to the body, em relatiove to the direct parent*/
/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/